
:root {
    --main-bg: rgb(246 249 252);
    
    --bg-white: #fff;
    --bg-gray: rgb(235, 235, 235);

    --txt-white: #fff;
    --txt-black: #000;
    --txt-gray2: #ccc;
    --txt-gray: rgb(125, 135, 156);
    --main-color: #2e86de;

    --blue-color: #2e86de;
    --orange-color: #ff793f;
    --pink-color: #fe7e73;
    --white-color: #f1f1f1;
    --black-color: #000;
    --red-color: red;
    --green-color: #78e08f;

    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --box-shadow-light: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

