@import './variables';
@import './mixin';
@import './grid';
// common
@import './common/header';
@import './common/footer';
@import './common/slider';
@import './common/policy';
@import './common/section';
@import './common/loading';
@import './common/custome-checkbox';

// product
@import './product/product_card.scss';
@import './product/product_overlay.scss';
@import './product/list_product.scss';
@import './product/category.scss';
@import './product/product_detail.scss';
@import './product/product_category.scss';
@import './product/cart';

// auth
@import './auth/auth.scss';

.color-blue {
    color: var(--blue-color);
}

.color-pink {
    color: var(--pink-color);
}

.color-orange {
    color: var(--orange-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-pink {
    background-color: var(--pink-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 50px;
    margin: 0 auto;
}