@import '../mixin';

.header-container {
  background-color: var(--main-bg);
  width: 100%;
  z-index: 99;
  // position: fixed;

  .header {
    padding: 20px 100px;
    @include flex(center, space-between);

    &-left {
      @include flex(center, center);

      &__logo {
        color: var(--main-color);
        font-size: 36px;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;
        color: #fccaff;
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        animation: text-effect 12s infinite;
        letter-spacing: 3px;

      }

      &__menu {
        @include flex(flex-start, flex-start);
        margin-left: 100px;

        li {
          @include flex(center, center);
          padding: 10px 20px;
          font-size: 18px;
          position: relative;

          &:hover {
            background-color: var(--bg-gray);
            border-radius: 20px;
            cursor: pointer;
            // transition: 0.25s ease;

            .sub-menu {
              display: block;
              animation: animate 0.5s ease;
            }
          }

          .sub-menu {
            display: none;
            position: absolute;
            padding: 10px;
            background-color: var(--bg-white);
            box-shadow: var(--box-shadow);
            width: 200px;
            top: 100%;
            left: 0;
            z-index: 99;

            &_item {
              display: block;
              @include flex(center, space-between);
              text-align: left !important;

              &:hover {
                background-color: var(--bg-gray);
                color: var(--main-color);
                border-radius: 5px !important;
                cursor: pointer;
                transition: 0.1s ease-in;
              }
            }

            .menu-2 {
              position: relative;

              &:hover .sub-menu2 .sub-menu2_item {
                color: var(--txt-black);
              }

              &:hover .sub-menu2 {
                display: block;
              }

              .sub-menu2 {
                position: absolute;
                display: none;
                padding: 10px;
                width: 200px;
                left: 180px;
                top: -10px;
                background-color: var(--bg-white);
                box-shadow: var(--box-shadow);
                z-index: 10000;

                &_item {
                  @include flex(flex-start, flex-start);

                  &:hover {
                    background-color: var(--bg-gray) !important;
                    color: var(--main-color) !important;
                    border-radius: 5px !important;
                    cursor: pointer;
                    transition: 0.1s ease-in;
                  }
                }
              }
            }
          }
        }
      }
    }

    &-right {
      @include flex(center, flex-start);

      &__btn {
        @include flex(center, center);
        width: 40px;
        height: 40px;
        background-color: var(--bg-gray);
        border-radius: 50%;
        cursor: pointer;
        margin: 0 10px;
        position: relative;

        .count-cart {
          position: absolute;
          top: -10px;
          right: -5px;
          background-color: var(--main-color);
          color: var(--txt-white);
          width: 20px;
          height: 20px;
          border-radius: 50%;
          font-size: 14px;
          @include flex(center, center);
        }
      }
    }
  }
}

@keyframes animate {
  from {
    transform: translateY(50%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes text-effect {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}