@import '../mixin';

.slider {
    width: 100%;
    height: 100vh;
    margin-top: calc(height - 100px);
    position: relative;
    overflow: hidden;

    &-item {
        @include flex(center, space-between);

        position: absolute;
        opacity: 0;
        visibility: hidden;
        inset: 0;

        &.active {
            opacity: 1;
            visibility: visible;

            .slider-item__info {
                &-title > span, &-desc > span, &-btn button {
                    transform: translateY(0);
                }
            }
            .slider-item__image > img {
                transform: scale(1) rotate(0);
            }
        }

        &__info {
            width: 58%;

            &-title {
                font-size: 44px;
                font-weight: 600;
                margin-bottom: 50px;
                overflow: hidden;
            }

            &-desc {
                font-size: 20px;
                color: var(--txt-gray);
                margin-bottom: 50px;
                overflow: hidden;
            }

            &-btn {
                button {
                    font-size: 16px;
                    font-weight: 600;
                    border: none;
                    padding: 10px 20px;
                    color: var(--txt-white);
                    text-transform: capitalize;
                    cursor: pointer;
                }
            }

            &-title > span, &-desc > span, &-btn button {
                display: block;
                transform: translateY(-100px);
                transition: transform 0.5s ease-in;
            }
        }

        &__image {
            flex: 1;
            position: relative;
            height: 100%;
            z-index: 98;

            img {
                height: 90%;
                position: absolute;
                bottom: 0;
                right: 0;
                background: transparent;
                background-color: transparent;
                transform: scale(0) rotate(60deg);
                transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            .shape {
                $size: 350px;
                height: $size;
                width: $size;
                position: absolute;
                right: 0;
                top: 30%;
                border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
                transform: translateX(0, -30%);
                transition:  border-radius 10s ease;
                animation: border 10s infinite;
            }
        }
    }

    &-control {
        @include flex(center, center);
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);

        &__item ~ &__item {
            margin-left: 10px;
        }

        &__item {
            @include flex(center, center);

            &:first-child:hover, &:last-child:hover {
                color: var(--main-color);
                transition: 0.1s ease-in;
            }
        }
        .length {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

@keyframes border {
    0% {
        border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
    }
    50% {
        border-radius: 31% 69% 59% 41% / 28% 24% 76% 72%;
    }
    100% {
        border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
    }
}