@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #fff;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  padding: 0 100px;
}
.margin-content {
	margin-left: 50px;
	margin-right: 50px;
}